@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper {
 gap: 20px;
 flex-direction: column;
 align-items: center;
 
}
.swiper-slide {
 margin: 13px;
 
   
 
} 
.swiper-container {
  width: 900;
}

@media screen and (min-width: 390) {
  .swiper-container {
    width: 390px;
  }
}
@media screen and (min-width: 600) {
  .swiper-container {
    width: 600;
  }
}
@media screen and (min-width: 900) {
  .swiper-container {
    width: 900;
  }
}